/deep/ .children-page {
    &.activity-page-index {
        background-color: #ebe1ff;
    }
    .main-content {
        padding: 0 30upx;
    }
    .page-index .main-swiper .banner {
        .menu-title,
        .active-rule {
            height: 70upx;
            line-height: 70upx;
            width: 160upx;
            font-size: 28upx;
            box-sizing: border-box;
            background: #ff78a5;
            box-shadow: inset 0px 0px 12upx 0px rgba(255, 255, 255, 1);
        }
        .banner-image {
            height: 1083upx;
        }
    }
    .page-index .main-swiper .banner .active-time {
        top: 375upx;
        color: #bb77ff;
        font-size: 26upx;
        font-weight: bold;
    }
    .page-section-spacing {
        background-color: #dcc0ff;
    }
    .page-section-spacing .swiper .swiper-item .swiper-info > text {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
            color: #bb77ff;
        }
    }

    .page-index .menu-list .search-box .search {
        width: 412upx;
        height: 70upx;
        box-sizing: border-box;
    }
    .page-index .menu-list .search-box {
        margin-bottom: 50upx;
        button {
            width: 96upx;
            height: 70upx;
            border: 1px solid #bb77ff;
            box-sizing: border-box;
            font-size: 26upx;
            color: #bb77ff;
            &:first-of-type {
                margin-right: 12upx;
            }
            &.active {
                background-color: #c790ff;
                color: #fff;
            }
        }
        .search {
            background-color: #fff;
            border: 1px solid rgba(187, 119, 255, 1);
            input {
                color: #bb77ff;
            }
            .search-button {
                color: #bb77ff;
                line-height: 1;
            }
        }
    }
    .page-index .menu-list {
        box-sizing: border-box;
        padding-top: 77upx;
        background-color: #fff;
        border-radius: 50upx;
        margin-bottom: 120upx;
        padding-bottom: 0;
        box-shadow: inset 0 0px 24upx 0px rgba(182, 146, 255, 1);
        position: relative;
        .cansai-text {
            position: absolute;
            top: -66upx;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 48upx;
            background-color: #ff78a5;
            box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 1);
            display: inline-block;
            text-indent: -9999px;
            width: 230upx;
            height: 74upx;
            &::before {
                content: "";
                position: absolute;
                left: 13upx;
                top: 12upx;
                width: 25upx;
                height: 27upx;
                background-image: url(https://aitiaozhan.oss-cn-beijing.aliyuncs.com/mp_wx/children_bt_b.png);
                background-size: 100% 100%;
            }
            &::after {
                content: "活动作品";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-indent: 0;
                width: 100%;
                color: #fff;
            }
        }
    }
    .media-box .media-content {
        width: 305upx !important;
    }
    .media-box .media-fill {
        color: #bb77ff;
    }
    .event-craft-cover .video {
        width: 305upx;
        height: 205upx;
    }
    .page-section-spacing {
        height: 60upx !important;
        line-height: 60upx !important;
        box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 1);
        border-radius: 48upx;
        margin-bottom: 50upx;
    }
    .event-craft-cover {
        .media-icon,
        .like-icon {
            top: auto;
            bottom: 20upx;
        }
    }
    .media-box {
        .media-content {
            .vote {
                background-color: #fff;
                color: #bb77ff;
                border: 1px solid rgba(187, 119, 255, 1);
                width: 130upx;
                border-radius: 25px;
            }
            .media-name {
                color: #333;
                font-size: 28upx;
                font-weight: 500;
                height: 40upx;
                line-height: 40upx;
            }
            .vote-num {
                color: #bb77ff;
            }
        }
    }
    .upload {
        background-color: #c790ff;
    }
    .event-craft-cover .tag {
        background: #ffe79c;
        color: #bb77ff;
    }
}

/deep/ .brand-page {
    &.brand-page-result {
        .page-index .main-swiper .banner {
            .banner-image {
                height: 476upx;
            }
            .active-time {
                display: none;
            }
        }
        .main-content {
            margin-top: 0;
        }
    }
    &.activity-page-index {
        background-color: #583ed4;
    }
    .main-content {
        padding: 0 30upx;
        margin-top: -116upx;
    }
    .page-index .main-swiper .banner {
        .menu-title,
        .active-rule {
            height: 52upx;
            line-height: 52upx;
            width: 137upx;
            font-size: 22upx;
            box-sizing: border-box;
            background: #ff574a;
            border: 2upx solid rgba(255, 142, 134, 1);
            box-sizing: border-box;
        }
        .banner-image {
            height: 757upx;
        }
    }
    .page-index .main-swiper .banner .active-time {
        top: 558upx;
        color: #fff;
        font-size: 24upx;
        border: 3upx solid rgba(255, 142, 133, 1);
        border-radius: 10upx;
        padding: 14upx 0upx;
        left: 50%;
        transform: translateX(-50%);
        width: 370upx;
        background: rgba(88, 62, 212, 1);
        box-sizing: border-box;
    }
    .page-section-spacing {
        background-color: #dcc0ff;
    }
    .page-section-spacing .swiper .swiper-item .swiper-info > text {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
            color: #bb77ff;
        }
    }

    .page-index .menu-list .search-box .search {
        width: 412upx;
        height: 70upx;
        box-sizing: border-box;
    }
    .page-index .menu-list .search-box {
        margin-bottom: 50upx;
        button {
            width: 121upx;
            height: 70upx;
            box-sizing: border-box;
            font-size: 26upx;
            color: #ff685c;
            &:first-of-type {
                margin-right: 5upx;
            }
            &.active {
                background-color: #ff685c;
                color: #fff;
            }
        }
        .search {
            background-color: #9882ff;
            input {
                color: #fff;
            }
            .search-button {
                color: #fff;
                line-height: 1;
            }
        }
    }
    .page-index .menu-list {
        box-sizing: border-box;
        margin-bottom: 120upx;
        padding: 0;
        position: relative;
        .cansai-text {
            color: #ff685c;
            font-size: 34upx;
            margin-bottom: 36upx;
        }
    }
    .media-box .media-content {
        width: 335upx !important;
    }
    .media-box .media-fill {
        color: #bb77ff;
    }
    .event-craft-cover .video {
        width: 335upx;
        height: 225upx;
    }
    .page-section-spacing {
        height: 60upx !important;
        line-height: 60upx !important;
        box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 1);
        border-radius: 48upx;
        margin-bottom: 50upx;
    }
    .event-craft-cover {
        .media-icon,
        .like-icon {
            top: auto;
            bottom: 20upx;
        }
    }
    .media-box {
        .media-content {
            .vote {
                background-color: #ff685c;
                color: #fff;
                width: 170upx;
            }
            .media-name {
                color: #fff;
                font-size: 24upx;
                font-weight: 400;
                line-height: 24upx;
                margin-bottom: 19upx;
                &.create-by {
                    font-size: 28upx;
                    line-height: 28upx;
                    margin-bottom: 9upx;
                }
            }
            .vote-num {
                color: #fff;
            }
        }
    }
    .upload {
        background-color: #ff685c;
    }
    .event-craft-cover .tag {
        background: #ffe79c;
        color: #583ed4;
    }
}
/deep/ .clocked-page {
    &.activity-page-index {
        background-color: #ff685c;
        .page-index .main-swiper .banner {
            .menu-title,
            .active-rule {
                height: 70upx;
                line-height: 70upx;
                width: 160upx;
                font-size: 28upx;
                box-sizing: border-box;
                background: #ff78a5;
                background: linear-gradient(
                    180deg,
                    rgba(255, 162, 132, 1) 0%,
                    rgba(255, 104, 76, 1) 100%
                );
            }
            .banner-image {
                height: 612rpx;
            }
            .active-time {
                width: 394upx;
                height: 54upx;
                text-align: center;
                line-height: 54upx;
                background: #42b6ff;
                border-radius: 20upx;
                top: auto;
                bottom: 0;
                left: 178upx;
            }
        }
        .page-index .menu-list .search-box {
            background: #ffdada;
            border-radius: 0 20upx 0 0;
            padding: 40upx 30upx 4upx;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            button {
                width: 100upx;
                border: 1px solid rgba(255, 104, 92, 1);
                color: #ff685c;
                height: 68upx;
                line-height: 68upx;
                margin: 0;
                border-radius: 40upx;
                &.active {
                    color: #fff;
                    background: #ff685c;
                }
            }
            .search {
                border: 1px solid rgba(255, 104, 92, 1);
                height: 64upx;
                input {
                    color: #ff685c;
                }
                .search-button {
                    color: rgba(255, 104, 92, 1);
                    line-height: 1;
                }
            }
        }
        .menu-list {
            padding-bottom: 40upx;
            .media-fill {
                color: rgb(255, 104, 92);
            }
            .cansai-text {
                width: 220upx;
                height: 72upx;
                background: linear-gradient(
                    180deg,
                    rgba(255, 162, 132, 1) 0%,
                    rgba(255, 104, 76, 1) 100%
                );
                box-shadow: 0 2upx 4upx 0p0x rgba(255, 255, 255, 0.5);
                border-radius: 20upx 20upx 0 0;
                line-height: 72upx;
                color: #fff;
                font-size: 32upx;
                font-weight: 500;
            }
            .media-box {
                background: #ffdada;
                padding: 30upx;
                border-radius: 0 0 20upx 20upx;
                position: relative;
                margin-top: -2upx;
                box-shadow: 0upx 12upx 0upx #ffa19a;
                .media-content {
                    width: 306upx;
                    .clocked-work {
                        width: 100%;
                        .video {
                            width: 100%;
                        }
                    }
                    .media-name {
                        color: #666;
                        font-size: 28upx;
                    }
                    .vote {
                        background: #ff685c;
                        font-size: 26upx;
                    }
                    .tag {
                        background: #ffe967;
                        color: #ff685c;
                    }
                    .vote-num {
                        color: #ff685c;
                        font-size: 26upx;
                    }
                }
            }
        }
    }
}
/deep/ .labor-page {
    &.activity-page-index {
        background-color: #ffce99;
    }
    .page-index .main-swiper .banner {
        .menu-title,
        .active-rule {
            background-color: #db4e0e;
        }
        .banner-image {
            height: 914upx;
        }
    }
    .page-index .main-swiper .banner .active-time {
        color: #db4e0e;
    }
    &.spring .page-index .main-swiper .banner .active-time {
        top: 400upx;
    }
    .page-section-spacing {
        background-color: #ff9f73;
        width: 710upx;
    }
    .page-section-spacing .swiper .swiper-item .swiper-info > text {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
            color: #db4e0e;
        }
    }
    .prize .prize-item .prize-text-2 {
        color: #db4e0e;
    }
    .cansai-text {
        color: #db4e0e;
        font-size: 34upx;
        margin-bottom: 36upx;
    }
    .page-index .menu-list .search-box {
        button {
            color: #451600;
            &.active {
                background-color: #db4e0e;
                color: #fff;
            }
        }
        .search {
            background-color: #ff9f73;
        }
    }
    .media-box .media-fill {
        color: #db4e0e;
    }
    .media-box {
        .media-content {
            .vote {
                background-color: #db4e0e;
            }
            .media-name {
                color: #ab3500;
            }
            .vote-num {
                color: #451600;
            }
        }
    }
    .upload {
        background-color: #db4e0e;
    }
}

/deep/ .tiktok-page {
    &.activity-page-index {
        background-color: #6052ac;
    }
    .page-index .menu-list .search-box .search {
        width: 100%;
    }
    .page-index .menu-list {
        padding-top: 0;
    }
    .page-index .main-swiper .banner {
        .menu-title,
        .active-rule {
            background-color: #f73a44;
        }
        .banner-image {
            height: 815upx;
        }
    }
    .page-index .main-swiper .banner .active-time {
        color: #f73a44;
    }
    &.spring .page-index .main-swiper .banner .active-time {
        top: 400upx;
    }
    .page-section-spacing {
        background-color: #ff9f73;
        width: 710upx;
    }
    .page-section-spacing .swiper .swiper-item .swiper-info > text {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
            color: #db4e0e;
        }
    }
    .prize .prize-item .prize-text-2 {
        color: #db4e0e;
    }
    .cansai-text {
        color: #fff;
        font-size: 34upx;
        margin-bottom: 36upx;
    }
    .page-index .menu-list .search-box {
        button {
            color: #fff;
            &.active {
                background-color: #f73944;
                color: #fff;
            }
        }
        .search {
            background-color: #bcb0ff;
        }
    }
    .media-box .media-fill {
        color: #fff;
    }
    .media-box {
        .media-content {
            .vote {
                background-color: #f73a44;
                width: 170upx;
            }
            .media-name {
                color: #fff;
            }
            .vote-num {
                color: #fff;
            }
        }
    }
    .upload {
        background-color: #f73a44;
    }
}
